    /* RGB 
$color1: rgba(6, 7, 14, 1);
$color2: rgba(41, 82, 74, 1);
$color3: rgba(148, 161, 135, 1);
$color4: rgba(197, 175, 160, 1);
$color5: rgba(233, 188, 183, 1);

*/
    @font-face {
      font-family: font-awesome;
      src: url('../fonts/fa-regular-400.ttf');
    }

    @font-face {
      font-family: font-awesome-solid;
      src: url('../fonts/fa-solid-900.ttf');
    }

    body {
      font-family: Helvetica;
      padding: 0px;
      margin: 0;
    }

    h1.page-title {
      display: inline-block;
      font-size: 28px;
      position: absolute;
      top: 0px;
    }
    #app {
  height: 300vh;
}


.darkmode--activated h1.page-title a {
  color: #cb4b16;
}

.darkmode--activated #tagline {
  color: white;
}

.darkmode--activated #config-bar {
 border: 1px solid #117f9b;
}
.darkmode--activated #config-bar button {
  background-color: #073642;
  color: #13819d;
  border: 1px solid #073642;
}
.darkmode--activated #config-bar button:hover {
  background-color: orange;
  border: none;
}
.darkmode--activated #config-bar button:active {
  background-color: orange;
  border: none;
}
.darkmode--activated #searchbar {
  background-color: #073642;
  border: 1px solid #117f9b;
}

.darkmode--activated #app {
  background-color: #ffd4c9;
}
.darkmode--activated #navbar {
  background-color: #002b36;
}
.darkmode--activated #config-bar {
  background-color: #002b36;
}
/* inverted */
.darkmode--activated .bookmark-item a {
  color: #168aa8;
} 

.darkmode--activated .bookmark-item:hover {
  background-color: #faded7;
}
/* inverted */
.darkmode--activated .tag-button {
  border: 1px solid #f8c9bd;
  background-color: #f8c9bd;
  color: #ee8064;
}
/* inverted */
.darkmode--activated .tag-button:hover {
  background-color: #faded7;
  border: 1px solid #ee8064;
  color: #ee8064 !important;
  }

    .page-title a {
      color: black;
      text-decoration: none;
    }

    small#tagline {
      position: absolute;
      top: 30px;
      margin-left: 210px;
      color: rgba(148, 161, 135, 1);
    }

    #searchbar {
      font-size: 20px;
      border: 1px solid #dddddd;
      border-radius: 1px;
      outline: none;
      transition: border .2s;
      box-shadow: inset 0 0 0 0px #EEEEEE;
      outline-color: transparent;
      height: 28px;
      padding: 2px 6px;
      color: #29524a;
      font-weight: light;
      width: 350px;
      border-radius: 2px;
      position: absolute;
      right: 48px;
      top: 10px;
    }

    select {
       -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;
      font-size: 11px;
      border: 1px solid #dddddd;
      height: 28px;
      padding: 2px 6px;
      color: #29524a;
      font-weight: light;
      border-radius: 2px;
    }

    input:focus {
      border: 2px solid #59ABE3;
      border-opacity: .5;
      appearance: none;
    }

    ul {
      margin-top: 0px;
      padding: 110px 32px 0 32px;
      border-top: 0px solid #dddddd;
    }

    ul li {
      list-style: none;
      height: 24px;
    }

    ul li a {
      color: #29524a;
      text-decoration: none;
      font-size: 18px;
      font-weight: light;

    }

    ul li a:hover {
      color: #c5afa0;
      cursor: pointer;
    }

    .bookmark-item {
      height: 44px;
      border: 0px solid #dddddd;
      box-shadow: 0 15px 18px 0 rgba(0, 0, 0, 0.03), 0 5px 15px 0 rgba(0, 0, 0, 0.04);
      transition: 0.18s ease-out;
      border-radius: 4px;
      margin: 8px;
      width: calc(44% - 14px);
      padding: 0px 8px 16px 16px;
      display: inline-block;
      float: left;
      overflow: hidden;
    }
      .bookmark-item:hover {
      background-color: #FAFAFA;
      box-shadow: 0 15px 18px 0 rgba(0, 0, 0, 0.06), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
      border: 0px solid #ccc;
      cursor: pointer;

    }

    .bookmark-item p {
      font-size: 12px;
      color: black;
    }

      .tag-button {
      background-color: #ccc;
      border: 0px solid #acaaaa;
      color: white;
      margin-left: 0px;
      margin-right: 4px;
      border-radius: 12px;
      padding-left: 10px;
      font-size: 11px;
      margin-bottom: 14px;
    }

    .fa-minus-square {
      color: #ccc !important;
    }

     .tag-button:hover > i.fa-minus-square {
      color: beige !important;

    }

    .tag-button:hover {
      background-color: #acaaaa;
      color: white !important;
    }

     .tag-button:active {
      background-color: purple;
    }

    #submit-form {
      margin-left: 224px;
      position: absolute;
      top: -1px;
      width: 400px;
      height: 80px;
      border: 1px solid #dddddd;
      background-color: white;
    }

    #input-container {
      display: inline-block;
      width: 75%;
      height: 100%;
    }

    #submit-div {
      display: inline-block;
      /*background-color: #94a187;*/
      width: 25%;
      height: 26px;
      padding: 26px 0;
      float: right;
    }

    #submit-form input {
      width: 292px;
      height: 19px;
      outline: none;
      transition: border .2s;
      box-shadow: inset 0 0 0 0px #EEEEEE;
      outline-color: transparent;
    }

    button {
      border: none;
      height: 24px;
      background-color: #FFF;
      color: black;
      border: 1px solid #eee;
      border-radius: 2px;
      margin-left: 16px;
      margin-top: 2px;
    }

    button:hover {
      background-color: #ddd;
      cursor: pointer;
    }

    button:focus {
      background-color: orange;
      outline: none;
    }   


    #config-bar button {
      margin-top: 8px;
    }

    #submit-button {
      display: table-cell;
      vertical-align: middle;
      margin-left: 20px;
    }



    .item-move, .link-move {
      /* applied to the element when moving */
      transition: transform .5s cubic-bezier(.55, 0, .1, 1);
    }

    .settings-icons {
      font-size: 12px !important;
      position: relative;
      top: 6px;
      display: inline;
      color: silver;
    }

    .favorite-icon {
      font-family: font-awesome;
      border-radius: 0 4px 0px 0;
      padding: 8px 2px 6px 2px;

    }

    .close-icon {
      font-family: font-awesome-solid;
      margin-left: calc(100% - 32px);
      top: 7px;
    }

    .favorite-icon-selected {
      color: orange;
      font-family: font-awesome-solid;
    }

    .settings-icons:hover {
      cursor: pointer;
      color: orange;
    }

    #results-count {
      color: #acaaaa;
      margin: 0px 8px 2px 0px;
      padding-top: 10px;
      display: inline-block;
    }

    ul li a.small-link {
      font-size: 14px;
    }

    .edit-input {
      display: inline-block;
      width: 280px;
    }

    .dl {
      font-family: font-awesome-solid;
      color: #acaaaa;
    }

    #navbar {
      border: 0px solid #acaaaa;
      height: 70px;
      width: calc(100% - 40px);
      padding: 0;
      margin-left: 40px;
      position: fixed;
      z-index: 999999;
      top: 0px;
      background-color: white;
    }

    #config-bar {
      border: 1px solid #ddd;
      height: 32px;
      padding-left: 40px;
      margin-top: 54px;
      margin-left: -1px;
      position: fixed;
      width: calc(100% - 40px);
      z-index: 999999;
      padding-bottom: 8px;
      background-color: white;
    }

    #config-bar #config-button {
      margin: 0px 0 0 16px;
    }

    button a {
      color: black;
      text-decoration: none;
    }

    div small a {
      font-size: 14px;
    }

    #new-tag {
      margin-left: 0px;
    }
