  body {
    font-family: neue-haas-unica, acumin-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 16px;
    margin: 0px;
  }
  h1 {
    font-weight: 600;
    margin-top: 0px;
    font-size: 2em;
  }
  h3 {
    font-size:
    display: inline-block;
    width: 300px;
    margin: 25px 0px -1px 0px;
    color: #acaaaa;
    font-weight: 500;
    /* border-bottom: 1px solid #acaaaa; */
    padding-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
  }
  button {
    border: 2px solid #eeeeee;
    height: 28px;
    border-radius: 3px;
  }
  button:hover {
    background-color: #3486D5;
    border: 2px solid #3486D5;
    color: white;
    cursor: pointer;
  }
  .remove-button {
    display:none;
    width: 28px;
    height: 24px;
    margin-left: 0px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    color: #34BD5D;
    position: absolute;
  }
  .remove-button:hover {
    background-color: #ddd;
    color: #34BD5D;
  }
  li:hover > .remove-button {
    display: inline-block;
    background-color: white;
    border: 1px solid #34BD5D;
    border-radius: 0;
  }
  input {
    font-size: 14px;
    border: 2px solid #eeeeee;
    border-radius: 1px;
    outline: none;
    transition: border .2s;
    box-shadow: inset 0 0 0 0px #EEEEEE;
    outline-color: transparent;
    height: 24px;
    border-radius: 3px;
  }
  input:focus {
    border: 2px solid #3486D5;
    border-opacity: .5;
    appearance: none;
  }
  select {
    height: 30px;
    background-color: white;
    border: 2px solid #eeeeee;
  }
  div#app {
    height: calc(100vh - 32px);
    border: 0px solid green;
  }
  ul {
    padding: 0;
    border: 0px solid red;
    width: 300px;
  }
  ul li {
    list-style: none;
    height: 24px;

  }
  ul li a {
    color: black;
    text-decoration: none;
    padding-right: 4px;
  }
  ul li a:hover {
    background-color: #34BD5E;
  }
